# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
    # Triggers the workflow on push or pull request events but only for the main branch
    push:
        branches: [main]
    pull_request:
        branches: [main]

    # Allows you to run this workflow manually from the Actions tab
    workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
    # This workflow contains a single job called "build"
    build:
        # The type of runner that the job will run on
        runs-on: ubuntu-latest
        environment: boostcamp-ncloud
        env:
            PROJECT_FOLDER: ~/javascript-sock-chat/
            PROJECT_NAME: sock-chat
            NGINX_FOLDER: /usr/share/nginx/html

        # Steps represent a sequence of tasks that will be executed as part of the job
        steps:
            # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
            - uses: actions/checkout@v2

            - name: 웹 서버에 접속하기
              uses: appleboy/ssh-action@v0.1.4
              with:
                  host: ${{secrets.BMNCLOUDWEBSERVER_HOST}}
                  username: ${{secrets.BMNCLOUDWEBSERVER_USER}}
                  password: ${{secrets.BMNCLOUDWEBSERVER_PASS}}
                  port: ${{secrets.BMNCLOUDWEBSERVER_PORT}}
                  script: |
                      cd $PROJECT_FOLDER
                      pwd
                      cd frontend
                      npm install
                      npm run build
                      cp -r ./build/* $NGINX_FOLDER
                      cd $PROJECT_FOLDER
                      cd backend
                      npm install
                      pm2 startOrReload ./bin/www --name $PROJECT_NAME
                      echo "build done!"
